
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
   margin: 0;
   padding: 0;
}

body  { 
    background-image: url('imagenes/Marihuna2.jpg');
    background-size:auto;
    background-position: center;
    text-align: left, justify-all;
}

#myAudio {
  display: none;
}

.links {
  font-size: 35px;
  line-height: 100px;
}

.links a {
   color:#15ff00;
 }
 
.links a:visited {
   color: #aae0ff;
 }
 
.links a:hover {
    color: #da1313;
 }
 
.links a:active {
   color: #ffffff;
 }
 

nav{
  margin-left: 2%;
  max-width: 300px;
  background-color: #202020;
  margin-top: 20px;
}

.invalido {
   list-style: none;
}

.menuhorizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-horizontal > li > a{
  display: block;
  font-size: 20px;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu-horizontal > li:hover{
  background-color: red;
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, .5); 
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 5px 10px 55px;
}



.drgs-title {
  position: absolute;
  left: 300px;
  top: 150px;
  background-color: rgba(255, 255, 0, 0.205);
  color: red;
  padding: 10px ;
  width: 65%;
  height: fit-content;
  text-align: center;
  border-radius: 40% 0% 40% 0%;
}

.drgs-title h1 {
  font-family: 'Outfit';
  font-size: 80px;
}

.title{
  position: relative;
  line-height: 20px;
  font-size: 27px;
  font-family: cursive;
  color: #fff;
}


p {
   font-size: 25px;
   font-family: 'Open Sans';
   color: white;
   text-align: justify-all;
}

.introdution {
   position: absolute;
   text-align: justify;
   left: 50px;
   top: 700px;
   width: 700px;
   height: fit-content;
   padding: 0;
   margin: 0;
}

.img-lab{
   position: absolute;
   width: 200px;
   height: 200px;
   top: 800px;
   right: 300px;
}


.introdution > #enlace {
    position: absolute;
    width: 800px;
    height: auto;
    text-align: justify;
    top: 500px;
    left: 250px;
}

.id1 {
  position: absolute;
  top: 500px;
  left: 35%;
  font-family: 'Poppins';
  font-size: 75px;
  color: green;
}

.cycncs {
   position: absolute;
   top: 1550px;
   left: 50px;
   width: 750px;
   height: 1200px;
}


.cycncs > p {
   align-content: center;
   text-align: justify;
   top: 50px;
}

 #imgs-cycncs{
   position: absolute;
   width: 200px;
   height: 200px;
   top: 1800px;
   right: 15%;
}

.id2 {
  position: absolute;
  top: 1400px;
  left: 20%;
  font-family: 'Poppins';
  font-size: 75px;
  color: green;
}

.cdrgs {
   position: absolute;
   width: 800px;
   height: 600px;
   left: 50px;
   top: 3200px;
   font-size: 50px;
}

a {
  color:#15ff00;
}

a:visited {
  color: #aae0ff;
}

a:hover {
   color: #da1313;
}

a:active {
  color: #ffffff;
}

#imgs-cdrgs{
  position: absolute;
  width: 400px;
  height: 500px;
  top: 3300px;
  right: 5%;
}

.id3 {
   position: absolute;
   top: 3000px;
   left: 15%;
   font-family: 'Poppins';
   font-size: 75px;
   color: green;
   
}


.prvdrgs {
   position: absolute;
   width: 800px;
   height: 1300px;
   left: 50px;
   top: 4200px;
}

.prvdrgs > p{
   text-align: justify;
   align-content: center;
   top: 50px;
}


.imgs-prvdrgs {
   position: absolute;
   width: 400px;
   height: 500px;
   top: 4500px;
   right: 2%;
   
}


.id4 {
  position: absolute;
  top: 4000px;
  left: 15%;
  font-family: 'Poppins';
  font-size: 75px;
  color: green;
}

.vd {
  position: absolute;
  width: 700px;
  height: 500px;
  top: 5500px;
  left: 350px;
}


.img-vd {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 6000px;
  left: 350px;
  font-size: 24px;
}

